 body{
     margin:120px;
 }
 #skipto {
     padding:5px 15px 5px 15px;
     overflow: visible;
    
     
 }
 #skipto li {
    list-style: none;
    display: inline-block; 
    word-wrap: break-word;
    text
   
    
}

#skipto a {
    text-decoration: none;
    border:3px solid #0099ff;
    padding: 10px;
    margin:10px;
}
h1 {
    color: #0099ff;
    text-align: center;
}
h2 {
    color: #808080;
}
h3, h4, h5, h6 {
    color: #b3b3b3;
}


.super-low{
    color:steelblue;
}
.low{
    color:rgb(140, 153, 163);
    }
.correct{
    color:green;
}
.high{
    color:rgb(218, 163, 163);

}
.super-high{
    color:rgb(180, 70, 70);
}